body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  padding: 2rem;
  width: 50%;
  margin: 10rem auto;
  color: #0b131c;
  background-color: #3ec7f4;
  border: 1px solid rgba(104, 85, 224, 1);
  border-radius: 4px;
  box-shadow: 5px 5px 5px #0b131c;
  
}

.edit-button, 
.remove-button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 .1rem;
  transition: all 0.5 linear;
}

.whole-form {
  border-radius: 4px;
  padding: 2rem;
}

.alert-danger {
  background-color: red;
  color: white;
  width: 25%;
  margin: 1rem auto;
  border-radius: 4px;
  padding: .25rem;

}

.alert-success {
  background-color: green;
  color: white;
  width: 25%;
  margin: 1rem auto;
  border-radius: 4px;
  padding: .25rem;

}

.form-info {
}

.form-items {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
}

.center-button {
  display: flex;
  justify-content: center;
  
}

.todo-input {
  margin: auto auto;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}


button {
  border: 0;
  /* width: 25%; */
  outline: 0;
  cursor: pointer;
  color: #3ec7f4;
  background-color: #0b131c;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;
}

button:hover {
  box-shadow: #0b131c 0px 0px 0px 0px, #3ec7f4 0px 0px 0px 0px, #0b131c 0px 1px 1px 0px,  #3ec7f4 0px 0px 0px 1px,  #3ec7f4 0px 0px 0px 0px,#0b131c 0px 3px 9px 0px, #0b131c 0px 2px 5px 0px;
}

input {
  
  width: 80%;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: #0b131c  1px 1px 1px, #0b131c  0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  

}

@media only screen and (min-width: 1000px) {
  .whole-form{
    width: 50%;
    margin-left: 25rem;
  }
  
} 

@media only screen and (max-width: 1000px) {
  .logout-button {
    width: auto;
  }
}












